<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kin</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
        <div class="nav-bar"></div>
        
        <div class="product-display">
          <div class="product-container">
            <div class="product-image">
              <img v-bind:src="image">
              <!-- <img src="./assets/images/thuyMac.jpg"> -->
            </div>
            <div class="product-info">
              <h1>{{ product }}</h1>
              </div>
              <!-- solution -->
              <a :href="url">Made by Kin</a>
              <p v-if="inStock > 99">in stock</p>
              <p v-else="0 > inStock > 50">out stock</p>
              <ul>
                <li v-for="(detail) in details ">{{ detail }}</li>
              </ul>
              <div v-for="(skin) in kill">{{ skin.kills }}</div>
             <!-- solution -->
            </div>
          </div>
        </div>
      </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
